extends layout

block content
    h1= title
    p this is #{title}

    // Wrapper
    #wrapper

        // CAPTION LIST
        h2 List of Available Captions
        #captionList
            table
                thead
                    th Caption Number
                    th Caption Name
                tbody
        // /CAPTION LIST

    // /WRAPPER
