extends layout

block content
    h1= title
    p Welcome to #{title}

    // Wrapper
    #wrapper

        // ROOM LIST
        h2 List of Available Rooms
        #roomList
            table
                thead
                    th Room Number
                    th Room Name
                tbody
        // /ROOM LIST

    // /WRAPPER
